@page
@using RandomizerApp
@{
    ViewData["Title"] = "Zelda II Randomizer - About";
}


<div class="card">
  <div class="card-body">
    <h4 class="card-title">Credits</h4>
    <p class="card-text">Digshake - for his amazing randomizer. <a href="https://bitbucket.org/digshake/z2randomizer/">Link to his source here.</a></p>
    <p class="card-text">traiLZ - for their help with flags</p>
    <p class="card-text">Everyone on the discord for being being positive about this and help test</p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">To do's</h4>
    <p class="card-text">Styles! If anyone cal help with that let me know</p>
    <p class="card-text">Improve logging</p>
    <p class="card-text">Improve download stuff instead of having it sit there.</p>
  </div>
</div>

<div class="card ">
    <div class="card-body">
        <h4 class="card-title">Shameless self promotion</h4>
        <p class="card-text">Feel free to check out my <a href="https://github.com/njvsvalhalla">github</a></p>
        <p class="card-text">Feel free to email me about anything/bugs/etc <a href="mailto:remainxunadapted@gmail.com">contact me</a>. Also feel free to create a pull request.</p>
        <p class="card-text">I can also be reached on the discord - theactionindex</p>
    </div>
</div>