@page
@model RandomizerWeb.ChangelogModel
@{
    ViewData["Title"] = "Changelog";
}


<div class="card">
    <div class="card-body">
        <h4 class="card-title">1.5 - 20200421<b>(current)</b></h4>
        <p class="card-text">Fun % and Item sprite shuffle</p>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">1.4 - 20200421</h4>
        <p class="card-text">Flag bugfixes and stuff</p>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">1.3 - 20200418</h4>
        <p class="card-text">Redesign! Thank you capt_uhu</p>
        <p class="card-text">Manual drop selections are only shown if checkmark is checked</p>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">1.2 - 20200404</h4>
        <p class="card-text">Removed JSON</p>
        <p class="card-text">Flags have been improved! A page reload is no longer required for loading a preset/changing flags text box and it now updates in real time.</p>
        <h4>In progress</h4>
        <p class="card-text">Converting this into a react app</p>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">1.1 - 20200403</h4>
        <p class="card-text">Added yoshi, crystalis, dragonlord, miria and olympia sprites</p>
        <p class="card-text">Finished refactor of backend, to easily add sprites/hints/etc</p>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">1.0 - 20200214</h4>
        <p class="card-text">Initital release of UI, backend and created CI/auto deploy finished + production ready</p>
    </div>
</div>